@media screen and (max-width: 768px){
    }body {
        margin: 0;
        padding: 0;
        min-height: 100vh;
        width: 100%;
        font-size: 3em;
        font-family: 'Montserrat', sans-serif;
        color: #2e2e31;
}

header {
    /* aca determinamos la posicion del header */
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    height: 30%;
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(107, 104, 104, 0.2); 
    z-index: 4;
}

.nav-header {
    display: flex;
    justify-content: flex-end;
    padding: 13px;
    padding-right: 20vh;
    font-size: large;
    font-family: 'Mulish', sans-serif;
    font-weight: 200;
    color: #0a0a0a;
}

.nav-header a:hover {
    color: #7e12a8; /* Color de fuente al pasar el puntero */
}
.contenedor-menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.contenedor-menu li {
    display: inline;
    margin-left: 10px;
}

.contenedor-menu li a {
    text-decoration: none;
    color: #0a0a0a;
}

.boton-contacto {
    display: inline-block;
    padding: 5px 15px;
    background-color: #7e12a8;
    text-decoration: none;
    border-radius: 15px;
}

.boton-contacto:hover {
    background-color: #9759a3;
}

@media screen and (min-width: 768px) {
}
    .columna-presentacion {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        padding-top: 5%;
        padding-left: 10%;
}

@media screen and (min-width: 768px) {
}
    .columna-main-content {
        max-width: 50%;
        display: flex;
        flex-direction: column;
        padding-bottom: 20%;
}

.saludo {
    text-align:left;
    color: #2e2e31;
    margin-bottom: auto;
    font-weight: 900;
    font-size: 40px;
}

.nombre {
    margin-top: 0;
    margin-bottom: 5px;
    color: #7e12a8;
    font-family: 'Mulish', sans-serif;
    font-weight: 900;
}

.descripcion-personal {
    margin-top: 5px;
    margin-bottom: 20px;
    font-size: 60%;
    color: #000000;
}

.container-habilidades {
    text-align: left;
    text-decoration: none;
}

.boton-loquehago {
    background-color: #7e12a8;
    border-radius: 15px;
    padding: 5px 15px;
    border: none;
    font-size: 60%;
}

.PROYECTOS {
    text-decoration: none;
    color: #f6f7fb;
    font-size: large;
}

.boton-loquehago:hover {
    background-color: #9759a3;
}

@media screen and (min-width: 768px) {
}
    .contenedor-imagen {
        display: flex;
        flex-direction: row;
}

@media screen and (min-width: 768px) {
}
    .imagen-presentacion {
        display: flex;
        width: 500px;
        height: 350px;
        border-radius: 50%;
        padding: 15px 15px 15px;
}    


.seccion-habilidades {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 70px 10px 70px;
    background-color: #f6f7fb;
    text-align: center;
    color: #1e1e22;
    font-weight: 900;
}

.titulo-habilidades {
    font-weight: 900;
    text-align: center;
    margin-top: 0;
    margin-bottom: 10px;
    color: #2e2e31;
}

.descripcion-habilidades { 
    display: block;
    justify-content: center;
    font-size: 50%;
    padding-left: 200px;
    padding-right: 200px;
    font-weight: 200;
}

.plantilla-habilidades {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 20px;
    font-weight: bold;
    font-size: medium;
}

.cards-superiores {
    display: flex;
    justify-content: center;
}

.cards-inferiores {
    display: flex;
    justify-content: center;
}

.card-habilidades {
    background-color: #fff;
    border: 0.5px solid #dddfe5;
    border-radius: 5px;
    width: 80px;
    max-height: 80px;
    margin: 8px;
    padding: 80px;
    transition: border-width 0.8s;
}

.card-habilidades:hover {
    color: #7e12a8;
    border-color: #7e12a8;
}

i {
    font-size: 80px;
}

.fa-html5 {
    color: #e0621f;
}

.fa-css3-alt {
    color: #3c73d3;
}

.fa-sass {
    color: #db57ab;
}

.fa-js {
    color: #f4d50b;
}

.fa-react {
    color: #6dd8ee;
}

.fa-git-alt {
    color: #d46216;
}

.seccion-cita {
    display: flex;
    flex-direction: column;
    background-color: #7e12a8;
    color: white;
    justify-content: center;
    text-align: center;
    padding: 40px 50px 40px;
}

.columna-cita {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: large;
}

.fa-quote-right {
    color: #fcfcfc;
}

.contenido-cita {
    font-size: medium;
}

.seccion-proyectos {
    display: flex;
}

.columna-proyectos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 45px 100px 40px;
    color: #000000;
    font-size: medium;
}

.titulo-proyectos {
    font-size: 50px;
    color: #1e1e22;
}

.descripcion-proyectos {
    display: flex;
    text-align: center;
    justify-content: center;
    padding: 0px 120px 20px;
    font-size: 150%;
}

.plantilla-proyectos {
    display: flex;
    flex-wrap: wrap;
    flex-direction: wrap;
    align-items: center;
    padding: 10px 10px 10px;
}

.card-proyecto {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border: 0.5px solid #dddfe5;
    text-decoration: none;
    color: #7e12a8;
    font-weight: 400;
    text-align: center;
    justify-content: center;
    border-radius: 5px;
    width: 170px;
    height: 150px;
    margin: 5px;
    padding: 30px 30px 30px;
    transition: border-width 0.3s
}

.card-proyecto:hover {
    color: #7e12a8;
    box-shadow: 0 0 1px 1px #7e12a8;
}

.card a {
    text-decoration: none;
}

.imagen-proyecto {
    overflow-clip-margin: content-box;
    overflow: clip;
}

.nombre-proyecto {
    font-weight: 600;
    margin-top: 20px;
    text-decoration: none;
}

.seccion-contacto {
    display: flex;
    background-color: #f6f7fb;
    padding: 100px;
    color: #000000;
}

.card-contacto {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    border-radius: 8px;
    width: 1000px;
    height: 500px;
    margin: 20px;
    padding: 30px 50px 50px;
    text-align: left;
    border: 0.5px solid #dddfe5;
}

.columna-contacto {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    color: #1e1e22;
    font-size: 35px;
    padding: 10px 30px;
}

.descripcion-contacto {
    display: flex;
    flex-direction: row;
    font-size: 20px;
    color: #0a0a0a;
}

.contenedor-redes-sociales {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    font-size: 30px;
    list-style: none;
}

.link-redes {
    text-decoration: none;
    color: #000000;
    font-size: 20px;
    font-weight: 400;
    text-align: left;
}

.fa-twitter {
    font-size: 30px;
    color: #7e12a8;
    padding-right: 5%;
}

.fa-github-alt {
    font-size: 30px;
    color: #7e12a8;
    padding-right: 5%;
}

.fa-linkedin-in {
    font-size: 30px;
    color: #7e12a8;
    padding-right: 5%;
}

.fa-envelope {
    font-size: 30px;
    color: #7e12a8;
    padding-right: 5%;
}

.columna-formulario {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    padding: 20px;
    color: #0a0a0a;
}

h2, .titulo-formulario {
    text-align: left;
    font-size: 45px;
    color: #0a0a0a;
}

.formulario label {
    display: block;
    margin-top: 10px;
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 15px;
    color: #000000;
}

.formulario input[type="text"],
.form-group input[type="email"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.boton-enviar {
    display: block;
    background-color: #7e12a8;
    color: #dddfe5;
    border-radius: 15px;
    padding: 5px 15px;
    border: none;
    font-size: 60%;
    cursor: pointer;
}

.boton-enviar:hover {
    background-color: #7e12a8;
}

.menu-footer {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #7e12a8;
    width: auto;
    color: white;
    padding: 100px 0;
    font-size: 15px;
}

.items-footer {
    text-align: center;
    font-size: 20px;
}

a, .menu-footer {
    color: white;
    text-decoration: none;
    margin-inline: 10px;
}

.redes-footer {
    text-align: center;
    margin-top: 20px;
}

.redes-footer a {
    color: #dddfe5;
    text-decoration: none;
    margin: 0 10px; 
}

.redes-footer a:hover {
    color: #7e12a8; 
}

.nombre-creadora {
    font-size: large;
    font-style: bold;
}